[Unit]
Description=Configuration server for Raspberry Pi backup system
Documentation=man:webfsd(1)
Requires=network.target
After=network.target

[Service]
User=backup
Group=backup
WorkingDirectory=~
EnvironmentFile=/var/backups/config/config_server_settings.env
ExecStart=/usr/bin/webfsd -F -j -c 50 -p ${PORT} -R ${CONFIG_SERVER_DATA_ROOT}
Type=exec
AmbientCapabilities=CAP_SYS_CHROOT
CapabilityBoundingSet=CAP_SYS_CHROOT

[Install]
WantedBy=default.target
Alias=backup-config-server.service