#
#    Raspberry Pi Backup System for Classrooms - HTTPd service
#    Copyright (C) 2022  Kian Kasad
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License, version 3, as
#    published by the Free Software Foundation.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <https://www.gnu.org/licenses/>.
#


[Unit]
Description=Configuration server HTTPd for Raspberry Pi backup system
Documentation=man:webfsd(1)
Requires=network.target
After=network.target

[Service]
User=backup
Group=backup
WorkingDirectory=~
EnvironmentFile=/var/backups/config/config_server_settings.env
ExecStart=/usr/bin/webfsd -F -j -c 50 -p ${PORT} -r ${CONFIG_SERVER_DATA_ROOT}
Type=exec

[Install]
WantedBy=default.target
Alias=backup-config-server.service
