[Unit]
Description=Back up user files
Requires=network-online.target network.target
After=network-online.target network.target

[Service]
StateDirectory=backup_client
Type=oneshot
ExecStart=/usr/local/lib/backup_client.py